$b: ".culture";

#{$b} {
  background-color: #000;
  &-wrapper {
    display: flex;
    position: relative;
    width: 80%;
    margin: auto;
    align-items: center;
  }

  &__media {
    position: relative;
  }

  &__image {
    width: 100%;
    height: auto;
    max-height: 100%;

    &--side {
      position: absolute;
      top: 0;
      right: -42vw;
      width: 150px;
    }
  }

  &__content {
    background: grey;
    color: #fff;
    padding: 45px;
    max-width: 45%;
    text-align: left;
  }

  &__decoration {
    flex-direction: column-reverse;
    color: #fff;
    position: absolute;
    right: -13%;
    top: 13px;
    display: flex;
    transform: rotate(90deg);
    text-align: left;
  }

  &-decoration__label {
    &:first-child {
      order: 2;
    }
  }

  &-decoration__number {
    order: 2;

    font-size: 48px;
  }
}
